<body class="corpo-formulario"> 
        <div class="container container-formulario">
            <div class="texto-eventos">
                <h3>Cadastro de Eventos</h3>
            </div>
            <form action=""  method="POST" name="formulario_eventos" id="formulario_eventos">
                <div class="row">
                    <div class="col-12">
                        <label for="nome" class="form-label">Nome</label>
                        <input class="form-control" type="text" name="nome" id="nome" required>
                    </div>
    
                    <div class="col-md-6 col-12 mb-2">
                        <label for="carga-horaria" class="form-label">Carga horária</label>
                        <input class="form-control" type="number" min="1" name="carga-horaria" id="carga-horaria" required>
                    </div>
    
                    <div class="col-md-6 col-12 mb-2">
                        <label for="valor" class="form-label">Valor</label>
                        <input class="form-control" type="number" min="0" name="valor" id="valor" required>
                    </div>
    
                    <div class="col-md-6 col-12 mb-2">
                        <label for="data-inicio" class="form-label">Data de início</label>
                        <input class="form-control" type="date" name="data-inicio" id="data-inicio" required>
                    </div>
    
                    <div class="col-md-6 col-12 mb-2">
                        <label for="data-fim" class="form-label">Data de encerramento</label>
                        <input class="form-control" type="date" name="data-fim" id="data-fim" required>
                    </div>
    
                    <div class="col-12">
                        <label for="descricao" class="form-label">Descrição</label>
                        <textarea class="form-control" name="descricao" id="descricao" rows="7"></textarea>
                    </div>
    
                    <div class="col-12 text-end">
                        <button class="btn btn-warning mt-2">Cancelar</button>
                        <button class="btn btn-dark mt-2">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
        <section>
            {{lista_eventos}}
        </section>
</body>