<link rel="stylesheet" href="styles/style.css">
<main>
    <section>
        <div class="conteiner-fluid banner-top">
            <p>Ustart</p>
            <p>2022</p>
        </div>
    </section>
    <div class="texto-eventos">
        <h1>Eventos</h1>
    </div>
    <section>
        <div class="container container-eventos">
            <div class="row">
                <div class="coluna-eventos col-sm-12 col-md-6">
                    <img src="resources/view/img/evento01.jpg" alt="Imagem evento">
                    <h3>Ustart 2022</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum molestiae nihil reiciendis
                        consequatur laboriosam modi nesciunt doloremque nemo quisquam.</p>

                    <div class="botao-eventos d-flex justify-content-end">
                        <button class="btn btn-info me-2">Detalhes</button>
                        <button class="btn btn-dark">Inscrever-se</button>
                    </div>
                </div>
                <div class="coluna-eventos col-sm-12 col-md-6">
                    <img src="resources/view/img/evento02.jpg" alt="Imagem evento">
                    <h3>Ustart 2022</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum molestiae nihil reiciendis
                        consequatur laboriosam modi nesciunt doloremque nemo quisquam.</p>
                    <div class="botao-eventos d-flex justify-content-end">
                        <button class="btn btn-info me-2">Detalhes</button>
                        <button class="btn btn-dark">Inscrever-se</button>
                    </div>
                </div>
                <div class="coluna-eventos col-sm-12 col-md-6">
                    <img src="resources/view/img/evento03.jpg" alt="Imagem evento">
                    <h3>Ustart 2022</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum molestiae nihil reiciendis consequatur laboriosam modi nesciunt doloremque nemo quisquam.</p>

                    <div class="botao-eventos d-flex justify-content-end">
                        <button class="btn btn-info me-2">Detalhes</button>
                        <button class="btn btn-dark">Inscrever-se</button>
                    </div>
                </div>
                <div class="coluna-eventos col-sm-12 col-md-6">
                    <img src="resources/view/img/evento04.jpg" alt="Imagem evento">
                    <h3>Ustart 2022</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum molestiae nihil reiciendis
                        consequatur laboriosam modi nesciunt doloremque nemo quisquam.</p>
                    <div class="botao-eventos d-flex justify-content-end">
                        <button class="btn btn-info me-2">Detalhes</button>
                        <button class="btn btn-dark">Inscrever-se</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>