    <body class="corpo-formulario">
        <div class="container container-formulario">
            <div class="texto-eventos">
                <h3>Realizar Inscrição</h3>
            </div>
            <form  action=""  method="POST" name="formulario_inscricao" id="formulario_inscricao">
                <div class="row">
                    <div class="col-md-6 col-12 mb-2">
                        <label for="cpf" class="form-label">CPF</label>
                        <input value="123.456.789-10" type="text" class="form-control" name="cpf" id="cpf">
                    </div>
                    <div class="col-md-6 col-12 mb-2">
                        <label for="nome" class="form-label">Nome</label>
                        <input value="Fulano de Tal" type="text" class="form-control" min="1" name="nome" id="nome">
                    </div>
                    <div class="col-12">
                        <label for="evento" class="form-label">Selecione o evento</label>
                        <select class="form-control" name="evento" id="evento" required>
                            <option value="" disabled selected>Selecione</option>
                            <option value="1">Evento 01</option>
                            <option value="2">Evento 02</option>
                            <option value="3">Evento 03</option>
                            <option value="4">Evento 04</option>
                            <option value="5">Evento 05</option>
                        </select>
                    </div>
                    <div class="col-12 text-end">
                        <button class="btn btn-warning mt-2">Cancelar</button>
                        <button class="btn btn-dark mt-2">Fazer Inscrição</button>
                    </div>
                </div>
            </form>
        </div>
        <section id = "lista_inscricoes" >
            {{lista_inscricoes}}
        </section>
    </body>
</html>